.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 15px 15px 15px lawngreen;
}

.heading_div {
    float: none;
    background: yellow;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 15px 15px 15px peru;
}

.heading_div2 {
    font-size: 20px;
}

.result_para_tag {
box-shadow: 5px 5px 5px yellowgreen;
font-size: 20px;}
.copy_right_footer
{position:fixed;
color:white;
bottom:0px;
width:100%;
background-color: grey;
line-height: 3;
text-align: center;
}


